<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit</h1>
    <form action="/<%= prod._id %>?_method=put" method="post">
        <section>
            <label for="name">name:</label>
            <input id="name" type="text" placeholder="name" name="name" value="<%= prod.name %>">
        </section>
        <section>
            <label for="price">price</label>
            <br>
            <input id="price" type="text" placeholder="price" name="price" value="<%= prod.price %>">
        </section>
        <button>POST</button>
    </form>
    <a href="/product/<%= prod._id %>">cancel</a>
</body>
</html>